/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
  
    font-family: 'Poppins', sans-serif;
   
}



.coming-soon__popup{
 
  display: none;
  width: 585.53px;
  height: 244px;
  background: #A75EBB;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.18);
  
  border-radius: 20px;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: 300;
font-size: 35.4015px;
line-height: 53px;
  margin: 50px auto;
}

@keyframes popup {
  0% {
    opacity: 0;
    
  }

  100% {
    
    opacity: 1;
  }
}

.popup__active{
  display: flex;
  animation: popup 2s alternate;
  z-index: 300;
}

.popup__background{
  opacity: 0;
  animation: popup 1s alternate;
 }

.popup__other{
  color: #fff;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
}

.popup__other div{
  opacity: 1;
}

.bc{
  background: linear-gradient(180deg, #5A0EA6 0%, #1A001E 100%);
}

.wrapper__buy-page{
  position: relative;
}

.wrapper{
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: linear-gradient(135.58deg, #200027 21.79%, #28013F 39.49%, #5204B5 128.17%);

  }

  [class*="__container"]{
    max-width: 1057px;
    margin: 0px auto;
  }

  /*----------BLOCKS----------*/

  @keyframes rotate_all {
    0% {
      margin-top: 140px;
      opacity: 0;
      
    }

    100% {
      margin-top: 0;
      opacity: 1;
    }
  }

  .main__block{
    width: 100%;
    color: #FFFFFF;
    margin-top: 90px;
  }


  .why__we-block{
    
    width: 100%;
    color: #FFFFFF;
   
  }

  .connect-content__block{
    width: 100%;
    color: #FFFFFF;
  }

  .your-content__block{
    width: 100%;
    color: #fff;
    text-align: center;
  }

  .share-block{
    width: 100%;
    color: #fff;
    background-color: #1E0028;
  }

  .experts-agree__block{
    margin-top: 248px;
  }

  .thousand__block{
    position: relative;
    min-height: 100px;
    background: linear-gradient(76.31deg, #220028 8%, #39000A 100.34%);
    
  }

  .getstarted-block{
    position: relative;
    padding-top: 170px;
    background: #1E0028;
  }

  .header{
    padding: 50px 10px 0px 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
  }

  .nav__logo{
    margin: 0px 10px;
  }

  @media (max-width: 500px) {
    .nav__logo{
      margin: 2px 5px 0px 5px;
    }
    .nav__logo img{
      width: 25px;
    }
  }

  .thousand__plus{
    color: #fff;
  }

  .footer{
   
    border-top: 1px solid #FF7AFF;
    padding: 50px 20px 10px 20px;
    color: #fff;
    background: #1E0028;
    
  }

  .main__footer{
    border: none;
    padding-top: 200px;
  }

  .nav__main__item{
    margin-top: -15px;
    display: flex;
  }
  
  .nav__nav-item :hover{
    color: #FD79FD;
  }

 

  .footer-content{
    display: flex;
    
  }

  .nav-content{
    display: flex;
    
  }

  .thousand__block-content{
    margin-top: 150px;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .thousand__block-peple{
    position: absolute;
    z-index: 100;
    height: 70%;
    width: 80%;
    max-height: 100%;
    bottom:0;
    filter: drop-shadow(0px 4px 207px rgb(0, 0, 0))
  }

  .thousand__block-content div {
    
    margin-top: -250px;
      
    
    
    color: #fff;
    font-weight: 800;
    font-size: 280px;
    line-height: 420px;
  }

  @media (max-width: 1800px) {
    .thousand__block-peple{
      width: 90%;
    }

  }
  @media (max-width: 1300px) {
    .thousand__block-peple{
      height: 60%;
    }

    

    .thousand__block-content div{
      margin-top: -150px;
      font-size: 190px;
    }
  }

  @media (max-width: 1000px) {
    .thousand__block-peple{
      height: 50%;
    }

   
    

    .thousand__block-content div{
      margin-top: -60px;
      font-size: 190px;
    }
  }

  @media (max-width: 1000px) {
    .thousand__block-content{
      min-height: 200px;
    }

    .thousand__block-peple{
      display: none;
    }
    .thousand__block-content div{
      
      font-size: 80px;
    }
  }

  

  .main__block__container{
    display: flex;
    padding: 0px 20px;
    animation: rotate_all 1.5s linear;
  }

  

  .why__we__container{
    padding-top: 97px;
    display: flex;
    flex-direction: column;
  }

  .connect-content__container{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }

  .your-content__container{
    display: flex;
    flex-direction: column;
    padding: 90px 5px;
  }

  
.share__container{
  display: flex;
  flex-direction: column;
  padding-top: 155px;
  position: relative;
}

.getstarted__container{
  padding: 20px 20px 20px 20px;

}

  /*-----------------------------------------------------------------*/

  .pink__text{
    color: #FD79FD;
  }

  .gray-span{
    color: #919191;
  }

  .why__we-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
  }

  @media (max-width:800px) {
    .main__block__container{
     flex-direction: column;
    }

    .main__block-content{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 }

  
  .main__block{
    display: flex;
    padding-top: 60px;
    
    
  }

  .your-content-item__icon{
    height: 290px;
  }

  .version{
    color:  #fff;    
  }

  .main__title{
    margin-top: 20px;
    font-weight: 700;
    font-size: 99.0187px;
    line-height: 93px;
  }


  .main__sub__title{
    margin-top: 50px;
    font-weight: 300;
    font-size: 21.7378px;
    line-height: 34px;
  }

  .why__we-mini__title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 21.74px;
    line-height: 33px;

  }

  @keyframes rotate_btn {
    0% {
      margin-top: 140px;
      opacity: 0;
      
    }

    100% {
      margin-top: 50;
      opacity: 1;
    }
  }
  

  .buy-now__button{
    animation: rotate_btn 2.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 60px;
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    background: #03EADD;
    box-shadow: 0 0 40px 40px rgba(239, 59, 255, 0.8) inset, 0 0 0 0 rgba(239, 59, 255, 0.8);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-radius: 10px;
  }

  

  .buy-now__button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 60px;
    margin-top: 25px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
 
   border: 3px solid #fff;
    border-radius: 10px;
  }

  
  /*.buy-now__button a{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    
  }*/

  
  .buy-now__button:hover {
    box-shadow: 0 0 10px 0 rgba(239, 59, 255, 0.8) inset, 0 0 10px 4px rgba(239, 59, 255, 0.8);
  }

  

  .main__block-img{
 
    position: relative;
    padding-top: 50px;
   padding-left: 100px;
  }

  @keyframes rotate_phone {
    0% {
      
      opacity: 0;
      margin-top: 30px;
    }

    100% {
      margin-top: 0;
      opacity: 1;
    }
  }

  .phone{
    animation: rotate_phone 2s linear;
    width: 279px;
    height: 547px;
    filter: drop-shadow(0px 5.32976px 203.863px rgba(0, 0, 0, 0.45));
  }

  
  

  @media (max-width:800px) {
    .phone{
       display: flex;
       margin: 0 auto;
      }

      .main__block-img{
        padding-left: 0px;
      }
 }

  .misic{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 290px;
    margin-bottom: 125px;
    
  }

  .photo{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 420px;
    margin-bottom: 265px;
    
  }
  
  .notebook{
    width: 440px;
    height: 580px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    
    
  }

  @media (max-width:1500px) {
    .notebook{
        display: none;
       
      }
  }

  @media (max-width:1000px) {
    .misic{
        display: none;
        
      }
    
      .photo{
       display: none;
        
      }

      .main__title{
        font-weight: 700;
        font-size: 70px;
        line-height: 80px;
        
    
      }
  }

  
  .circle{
    
    width: 19px;
    height: 19px;
    background: #00fff260;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .circle div{
    opacity: 1;
    width: 50%;
    height: 50%;
    background: #21FF5F;
    border-radius: 50%;
  }

  .thousand__plus{
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    margin: 0px 6px 0px 12px;
  }

  

  .text-title{
    margin: 0 auto;
    font-weight: 600;
    font-size: 46.581px;
    line-height: 70px;
  }

  .why__we-items{
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    .why__we-items{
      flex-direction: column;
      margin-top: 30px;
    }

    .why__we-item{
      justify-content: center;
      align-items: center;
     
    }

    .text-title{
      margin: 0 auto;
      font-weight: 600;
      font-size: 25px;
      line-height: 40px;
      text-align: center;
    }

    

  }

  @media (max-width:500px) {
    .why__we-mini__title{
     
      font-weight: 300;
      font-size: 15px;
      line-height: 15px;
  
    }
  }

  .why__we-item{
    display: flex;
    flex-direction: column;
   
  }

  .why__item-content{
    margin-top: auto;
    text-align: center;
  }

  .why__item-title{
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
  }

  .why__item-text{
    font-weight: 400;
    font-size: 14.28px;
    line-height: 20px;
    color: #E4E4E4;
    margin-top: 6px;
  }

  .connect-content__img{
    width: 100%;
  }

  .connect-content__img img{
    
    display: flex;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    .connect-content__img img{
      width: 70%;
    }
  }

.connect-content__content{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.your-content__title{
  font-weight: 600;
  font-size: 141.829px;
  line-height: 182px;
}

.your-content__subtitle{
  font-weight: 600;
  font-size: 59.3527px;
  line-height: 76px;
}

.your-content__items{
  display: flex;
  justify-content: space-between;
}

@keyframes rotate_0 {
  from {
    transform: rotate(360deg);
  }
}
.big__o{
  animation: rotate_0 3s linear infinite;
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .your-content__items{
    flex-direction: column;
    margin-top: 30px;
  }

  .your-conten__item{
    justify-content: center;
    align-items: center;
   
  }

  .shape-icon{
    margin-top: 100px;
  }

  .your-content__title{
   
    font-size: 80px;
    line-height: 112px;
  }

  .big__o{
    margin-top: 20px;
    width: 72px;
    height: 72px;
  }
  
  
}

@media (max-width: 400px) {
  .your-content__title{
    font-size: 40px;
    line-height: 62px;
  }

  .big__o{
    margin-top: 10px;
    width: 38px;
    height: 38px;
  }
}

.your-conten__item{
  display: flex;
  flex-direction: column;
}



.your-content-item__text{
  font-weight: 400;
  font-size: 14.28px;
  line-height: 20px;
  color: #E4E4E4;
}

.shape-icon{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.shape-icon img{
  margin-top: 0px;
}

.share-title{
  font-weight: 600;
  font-size: 75px;
  line-height: 88px;
}

.share-text{
  font-weight: 300;
  font-size: 21px;
  line-height: 34px;
  margin: 34px 0px 0px 0px;
}

.share__duble-blocks{
  margin: 100px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.share__duble-block{
  min-height: 436px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 49.5%;
  position: relative;
  padding: 21px 0px 0px 24px;
  background: linear-gradient(180deg, #5F0077 0%, #000816 100%);
  border-radius: 27px;
  
}

.duble-block__img{
  max-width: 90%;
 
  position: absolute;
  bottom: 0;
  right: 0;
}

.duble-block__title{
  margin: 30px 0px 0px 12px;
  font-weight: 600;
  font-size: 46.58px;
  line-height: 55px;
}

.duble-block__titels{
  display: flex;
}

.db__title-white{
  display: flex;
  margin-top: auto;
  margin-left: 50px;
}

.coins__title{
  line-height: 55px;
}

.share__reach{
  margin-top: 50px;
  display: flex;
  width: 100%;
  min-height: 396px;
  background: linear-gradient(180deg, #6B00D6 0%, #330045 100%);
  border-radius: 27px;
  padding: 23px;
}

@keyframes rotate_chain {
  0% {
    margin-top: 128px;
    
  }

  50%{
    margin-top: 170px;
  }

  100% {
    margin-top: 128px;
    
  }
}


.share-chain{
  width: 425px;
  height: 615px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 128px 0px 170px 0px;
  z-index: 100;
  animation: rotate_chain 4s infinite;
}

@media (max-width:850px) {
  .share-chain{
    display: none;
  }

  .share__duble-blocks{
    
   flex-direction: column;
  }

  .share__content{
    text-align: center;
  }

  .duble-block__title{
    
    font-size: 36.58px;
    line-height: 47px;
  }

  .db__title-white{
    
    margin-left: 10px;
  }

  .share-title{
    font-weight: 600;
    font-size: 55px;
    line-height: 88px;
  }

  .share-text{
    font-size: 15px;
  }
  
  .share__duble-block{
    width: 100%;

  }

}

.share__reach-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left:  auto;
}

.share__reach-content__items{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.share__reach-content__item{
  display: flex;

  align-items: center;
  margin-top: 15px;
}

.share__reach-content__item span{
  margin-left: 10px;
  line-height: 22px
}

@media (max-width:1000px) {
  .share__reach-content{
   
    width: 100%;
    margin-left: 0px;
  }

  .coins__img{
    display: none;
  }

  .share__reach-content__items{
    margin-top: 40px;
  }
}


.coins__img{
  width:500px;
  margin-top: 0px;
  position: absolute;
}





.experts-aree__items{
  display: flex;
  color: #fff;
  margin-left: -30px;
  width: 104.3%;
  justify-content: space-between;
}

.experts-aree__item{
  font-weight: 600;
  font-size: 42.4099px;
  line-height: 63px;
  margin-left: -60px;
}

.experts-aree__img{
  width: 100%;
  opacity: 0.45;
}

@media (max-width: 1100px) {
  .experts-aree__item{
  
    font-size: 22.4099px;
    line-height: 43px;
   
  }

  
}

.getstarted__title{
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #FFFFFF;
}


@media (max-width: 600px) {
  .experts-aree__item{
  
    font-size: 15px;
    line-height: 33px;
   
  }

  .getstarted-block{
    padding-top: 20px;
  }

  .getstarted__title {
    font-size: 70px;
    line-height: 100px;
  }
}


.cirle__share{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #02EADD;
  
  
}

.cirle__share span{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #550A6B;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  display: flex;
  margin: 0 auto;}

.weve__help{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100;
  height: 291px;
  font-weight: 600;
  font-size: 48.41px;
  line-height: 82px;
  color: #FFFFFF;
  background: linear-gradient(135.58deg, #570080 21.79%, #FA01A5 128.17%);
  box-shadow: 0px 4px 162px rgba(0, 0, 0, 0.54);
}

@media (max-width: 1000px) {
  .weve__help{
    font-size: 30px;
    line-height: 42px;
  }

  .experts-agree__block{
    margin-top: 100px;
  }
}


.getstarted-content{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keep__in{
  margin-top: 146px;
  color: #fff;
}

.keep__in-title{
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #FFFFFF;
}

.keep__in-text{
  font-weight: 300;
  font-size: 21px;
  line-height: 34px;
  color: #FFFFFF;
}

.keep__in-text{
  margin-top: 45px;
}

.soc-links{
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.soc-link__icon:not(:last-child){
  margin-right: 10px;
}

.soc-link__icon img{
  width: 71px;
  height: 71px;
  margin-right: 0px;
}

.hand__img{
  position: absolute;
 
  
  right: 0;
  bottom: 0;
}

@media (max-width: 1000px) {
  .hand__img{
    display: none;
  }
}

.nav__nav{
  display: flex;
  margin-left: auto;
  
}

.nav__nav-item:not(:last-child){
  margin-right: 15px;
}

.nav__nav-item a{
  color: #707070;
}

.head_item a{

  color: #fff;
}

@media (max-width: 500px) {
  .head_item a{
  
   font-size: 12px;
  }
  .nav__nav-item:not(:last-child){
    margin-right: 10px;
  }
}


@media (max-width: 370px) {
  .head_item a{
  
   font-size: 10px;
  }
}

.nav-title{
  font-weight: 800;
  font-size: 24.2464px;
  line-height: 36px;
  color: #FFFFFF;
}

.nav__gmail{
  font-weight: 400;
  font-size: 15.587px;
  line-height: 23px;
  color: #1AFF82;
}
@media (max-width: 500px) {
  .nav-title{
   
    font-size: 15px;
    line-height: 20px;
   
  }

  .nav__gmail{
    font-size: 10px;
  }
}

.getstarted__icon img{
  width: 211px;
  width: 233px;
}

/*------------------- ABOUT US ---------------------*/

.our-mission__container{
  padding: 202px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.about-us__block-aboutpage__container{
  padding: 70px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.about-us__block-aboutpage{
  color: #fff;
  padding: 0px 0px 100px 0px;
 
}

.bm{
  border-bottom: 1px solid #FF7AFF;
}



.your-content__title-about{
  font-size: 100px;
}



.green__mini-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  color: #1AFF82;
}

.our-mission__title{
  margin: 30px 0px 0px 0px;
  font-weight: 600;
  font-size: 37.7154px;
  line-height: 51px;
  text-align: center;
  color: #FFFFFF;
}

.about__content-text{
  margin-top: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}



@media (max-width: 700px) {
  .our-mission__title{
    font-size: 30px;
  }

  .about__content-text{
    font-size: 15px;
  }

  .your-content__title-about{
    font-size: 65px;
  }

  .big_v{
    margin-top: 25px;
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 400px) {
  .big_v{
    margin-top: 5px;
   
  }
}


.cirle__mark{
  color: #fff;
  margin: 44px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  font-size: 35px;
  background: linear-gradient(180deg, #C15DFF 0%, #B02EFF 100%);
  box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.23);
}

.cirle__mark-two{
  margin: 10px 0px;
  width: 51px;
  height: 51px;
  background: #DA40C3;
}


.green{
  color: #1AFF82;
}

.getstarted__title-mini{
  font-size: 71.3333px;
}

.big{
  font-weight: 700;
font-size: 112.564px;
}

.ggwptest{
  background-color: none;
}

.thousand__plus-about{
  margin-top: 90px;
}








.footer__about{
  padding-top: 42px;
}

/*--------------BUY NOW-------------------------*/

.choose__block{
  padding-top: 100px;
  color: #fff;
}

.bg-cirle{
  position: absolute;
  z-index: 0;
  width: 1500px;
  height:1500px;
  

  margin-top: -300px;
}

@media (max-width: 1550px) {
  .bg-cirle{
    
    width: 800px;
    height: 800px;
    
  
   
  }
}

@media (max-width: 900px) {
  .bg-cirle{
    display: none;
  }
}

.bg-cirle img{
  width: 100%;
  height:100%;
}

.z-for__circle{
  z-index: 1;
}

.z-for__circle_btn{
  
}

.choose__titlse{
  position: relative;
  z-index: 100;
  display: flex;
  margin: 123px 0px 0px 0px;
  flex-direction: column;
  width: 100%;
  text-align: center;

}

.choose__subtitle{
  font-weight: 600;
  font-size: 81.7949px;
  line-height: 131px;
  
}

.choose__subtitle img{
  width: 100px;
 
  margin-top: 40px;
}

@media (max-width: 600px) {
  .choose__subtitle{
  font-size: 40px;
  line-height: 80px;
  }

  .choose__subtitle img{
    width: 50px;
    margin-top: 25px;
  }
}

.choose__subtitle_two{
  font-weight: 500;
  font-size: 36.5986px;
  line-height: 55px;
}

.choose__items{
  display: flex;
  margin: 70px 0px 0px 0px;
  justify-content: space-between;
}

.choose__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.choose__item-title{
  margin: 30px 0px 0px 0px;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
}

.choose__item-text{
  margin: 20px 0px 0px 0px;
  font-weight: 300;
  font-size: 21px;
  line-height: 33px;
}

@media (max-width: 850px) {
  .choose__items{
    flex-direction: column;
  }

  .choose__item{
    margin-top: 80px;
  }

  .choose__item-text{
    font-size: 16px;
  }

  .choose__item-text{
    font-size: 24px;
  }
}

.token__block{
  margin: 100px 0px 0px 0px;
  width: 100%;
  height: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(264.22deg, #954EEF 25.27%, #8729BB 84.58%);
  box-shadow: 0px 43px 99px rgba(0, 0, 0, 0.25);
  
}

.tocen__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.tocen__item{
  display: flex;
  max-width: 80%;
  margin: 23px 0px 0px 0px;
  padding: 16px 45px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

@media (max-width: 570px) {
  .tocen__item{
    font-size: 13px;
    padding: 16px 15px;
  }
}


/*--------------------------------------------------TWO PHONES-----------------------------------------------*/ 

.two__phones_block{
  padding: 20px 0px 20px 0px;
  display: flex;
  background: linear-gradient(160.3deg, #A532CA -1.63%, #4D0B6F 32.8%, #3F0C63 50.56%, #450A62 76.8%, #560473 105.68%);
}

.two__phones_block img{
  max-width: 100%;
  margin: 100px auto;
}

.token__test{
  margin: 0;
  background: linear-gradient(135.58deg, #9F0CFF 21.79%, #AD6DFF 128.17%);
box-shadow: 0px 4px 250px rgba(41, 0, 40, 0.28);

}

.token__test div{
  
  font-weight: 600;
  font-size: 37px;
  line-height: 56px;
  text-align: center;
}

@media (max-width: 700px) {
  .token__test div{
    font-size: 25px;
  }

  .token__test{
    height: 300px;
    padding: 30px 0px;
  }
}

.white{
  color: #ABABAB;
}

.get__started-test{
  padding: 100px 0px;
  background: linear-gradient(180deg, #5F0DA7 0%, #1A0026 100%);
}

.blog__text-item{
  margin: 50px 0px;
  color: #fff;
  line-height: 32px;
}


@media (max-width: 600px) {
  .blog__text-items{
    margin-left: 10px;
  }

  .coming-soon__popup{
    width: 90%;
  }
}

.blog__text-item_title{
  font-weight: 600;
  font-size: 27.8506px;
  line-height: 32px;
}

